.expense-item{
    display: flex; /* default is row*/
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.20);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: coral;
}

.expense-item__desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;

    /* flex: 1; */
}